<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>

    <title>Профиль ученика(-цы)</title>

</head>
<body>
<header th:insert="block/header::header"></header>
<div class="container-fluid pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm">
                <h1>Личные данные ученика(-цы)</h1>
            </div>
        </div>
    </div>
</div>

<div  class="conteiner-fluid">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm">

                <img th:if="${student.foto}" th:src="@{'/image/'+${student.foto}}" class="rounded mx-auto d-block"  width="300" height="300" alt="avatar">
                <img th:if="!${student.foto}" th:src="@{/img/avatar.png}" class="rounded mx-auto d-block"  width="300" height="300" alt="avatar">
                <a th:if="!${is_admin}" href="#" class ="link" data-toggle="modal" data-target="#loadImgModal"><h5>Загрузить фотографию</h5></a>
            </div>

            <div class="col-sm">
                <h4><p th:text="${student.surname}"/>
                    <p th:text="${student.firstname}"/>
                    <p th:text="${student.middlename}"/>
                    <p th:text="'Место учебы: '+${student.studyGroup.school.name}"/>
                    <p th:text="'Класс: '+${student.studyGroup.name}"/>
                    <p th:text="'Дата рождения: '+${student.birth_date}"/>
                    <p th:text="'Email: '+${student.email}"/></h4>
            </div>
        </div>

    </div>
</div>


<div th:insert="block/loadProfileFotoModal::loadProfileFotoModal"></div>
<footer th:insert="block/footer::footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>