<div th:fragment="loadImgCourseModal">
    <div class="modal fade" id="loadImgCourseModal" tabindex="-1" role="dialog" aria-labelledby="loadImgCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loadImgCourseModalLabel">Загрузка изображения курса</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="'/loadimage/'+${course.id_course}" method="post" id="loading" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" class="btn-info" name="file">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <input form="loading" class="btn btn-primary" type="submit" value="Загрузить">
                </div>
            </div>
        </div>
    </div>
</div>